 
<div fxLayout="row" class="container">

        <div fxFlex fxHide fxShow.lt-md fxFlex  fxLayout="row" fxLayoutAlign="start center">
      
        
                <div    class="tool-item">
                        <button  class="menu-button" mat-icon-button>
                                <mat-icon>menu</mat-icon>
                                
                        </button>
                </div>

                <div    class="tool-item"> 
                <img src="assets/logo.png" 
                alt="WeLearn"  
                fxFlexAlign="center">
                </div>
                <div fxFlex   class="tool-item"> 
                              
                                </div>

        </div>



    <div fxHide fxShow.gt-sm fxFlex  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
      
        
            

        <div   fxLayoutAlign="center center" class="tool-item">
                <img src="assets/logo.png" 
                 alt="WeLearn"  
                fxFlexAlign="center">
        </div>
       
        <div   fxLayoutAlign="center center" class="tool-item">
                <i class="material-icons md-48">view_module</i>&nbsp;Course Catalog
        </div>
        <div   fxFlex fxLayoutAlign="center center" class="tool-item">
            
                <mat-form-field>
                    <input type="text" matInput />
                </mat-form-field>

                <i class="material-icons" style="color:blue;">search</i> 
        
        </div> 
   
    </div>


    <div fxHide fxShow.gt-sm fxFlex  fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2px">
            <div fxFlex class="tool-item">&nbsp;</div>
        <div fxLayoutAlign="center center"  class="tool-item">Create a Course</div>
        <div fxLayoutAlign="center center"  class="tool-item">
             <i class="material-icons">shopping_cart</i> 
        </div>
        <div fxLayoutAlign="center center"  class="tool-item">
                <i class="material-icons md-48">person_pin</i> &nbsp;
              Scott 
        </div>
    </div>


 
</div>