<div fxFill fxLayout="row" fxLayoutAlign="center" class="mat-typography">
    <div class="login-container" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card  class="login-box" fxLayout="column" fxLayoutGap="5px">
                     <h1 fxLayoutAlign="center" > Challenge Yourself </h1>
                    <h3 fxLayoutAlign="center" >Share your knowledge. Make a difference. Build a following.</h3>
                    <button *ngIf="enableFacebook" mat-raised-button class="btn btn-facebook btn-general" (click)="facebookLink($event)" data-title="Login With FaceBook">
                            <!-- <i class="material-icons">face</i> -->
                              Signup With Facebook
                          </button>
                    <button *ngIf="enableGoogle" mat-raised-button  class="btn btn-google btn-general" (click)="googleLink($event)" data-title="Login With FaceBook">
                            <!-- <i class="material-icons">face</i> -->
                            Signup With Google
                          </button>
                    <button *ngIf="enableLinkedin" mat-raised-button  class="btn btn-linkedin btn-general" (click)="linkedinLink($event)" data-title="Login With FaceBook">
                            <!-- <i class="material-icons">face</i> -->
                            Signup With Linkedin
                          </button>
               
                <h3 class="one"  *ngIf="enableLinkedin || enableGoogle || enableFacebook"><span>Or</span></h3>
                <div fxLayoutAlign="center" *ngIf="showError" class="login-error" translate>
                    {{error}}
                </div>


                <form (ngSubmit)="signup()" [formGroup]="signupForm" novalidate>
           
                <div fxLayout="column">
                        <h1 fxLayoutAlign="center">Signup With Email </h1>
              

                        <mat-form-field>
                                <label>Name:</label>
                            <input  type="text" matInput formControlName="name"   required />
                            <mat-error *ngIf="signupForm.controls.name.valid || signupForm.controls.name.untouched">
                                <span translate>Name is required</span>
                            </mat-error>
                        </mat-form-field>

                    <mat-form-field>
                            <label>Email:</label>
                        <input  type="text" matInput formControlName="username"   required />
                        <mat-error *ngIf="signupForm.controls.username.valid || signupForm.controls.username.untouched">
                            <span translate>Email address is required</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Password:</label>
                        <input   type="password" matInput formControlName="password" required />
                        <mat-error *ngIf="signupForm.controls.password.valid || signupForm.controls.password.untouched">
                            <span translate>Password is required</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                            <label>Confirm Password:</label>
                            <input   type="password" matInput formControlName="confirmpassword" required />
                            <mat-error *ngIf="signupForm.controls.confirmpassword.valid || signupForm.controls.confirmpassword.untouched">
                                <span translate>Confirm Password is required</span>
                            </mat-error>
                        </mat-form-field>
                        
                    
                <button   mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid || isLoading">
                  <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                  <span translate>Signup</span>
                </button>
                    <h3 fxLayoutAlign="center">
                            Already have an account?  &nbsp; <a class="sign-up-link" (click)="openSignIn()"> Login</a></h3>
                </div>
            </form>
        </mat-card>
    </div>
</div>