<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">

    <div class="login-container" fxLayout="row" fxLayoutAlign="center">
        <mat-card fxFlex="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
            <mat-vertical-stepper>
                <mat-step label="Step 1">
                    Content 1
                </mat-step>
                <mat-step label="Step 1">
                    Content 2
                </mat-step>
            </mat-vertical-stepper>
        </mat-card>
    </div>
</div>