<mat-card>

  <mat-card-title><span class="mat-display-3">Instructor Profile</span></mat-card-title>
  <mat-card-content>Tell the students more aboute the teacher and there backgroud</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title><span class="mat-display-2">Personal Information</span></mat-card-title>
  <mat-card-content>

    <mat-form-field style="width: 100%" floatLabel="never">
      <mat-label>Name*</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-card-content>50 charactor limit</mat-card-content>

    <mat-form-field style="width: 100%" floatLabel="never">
      <mat-label>Title*</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-card-content>Describe Your main focus asan instructor("UX Consultant And Site Designer")</mat-card-content>

    <mat-form-field style="width: 100%" floatLabel="never">
      <mat-label>Description*</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-card-content>Please write a short pofile of yourself for potential students</mat-card-content>
    <mat-card-content>In english only, no HTML, no webs and email address and CAPS</mat-card-content>

    <mat-form-field style="width: 100%" floatLabel="never">
      <mat-label>Website URL</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%" floatLabel="never">
      <mat-label>Facebook URL</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="width: 100%" floatLabel="never">
      <mat-label>Twiiter Handler</mat-label>
      <input matInput>
    </mat-form-field>


  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title><span class="mat-display-2">Upload File Image</span></mat-card-title>

  <mat-form-field style="width: 100%" floatLabel="never">
    <mat-label>Image File*</mat-label>
    <input matInput>
  </mat-form-field>
</mat-card>
<mat-card>
  <button mat-stroked-button color="primary">Previous Step</button>
  <button mat-button color="primary">SAVE & CONTINUE LATER</button>
  <button mat-raised-button color="accent">Next Step</button>

</mat-card>